body {
	background-color: #26596A;
	color: #91ABB3;
}

.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-idea-item {
	margin-right: 25px;
	margin-left: 25px;
	overflow-wrap: break-word;
	font-size: 115%;
}

#container {
	margin-left: 50px;
	width: 750px;
	border-right: thin dotted #91ABB3;
}

#existing-groups {
	border-bottom: thin dotted #91ABB3;
	margin-right: 25px;
}

#new-group {
	position:fixed;
	top: 25px;
	left: 835px;
	width: 400px;
	margin-right:25px;
}

#new-idea {
	position:fixed;
	top: 25px;
	left: 785px;
	width: 400px;
	margin-right:25px;
}

#new-idea-text {
	margin-left:50px;
}

#new-idea-text h2 {

}

#new-idea-form {
	border-top:thin dotted #91ABB3;
}

#new-group-form {
	border-top:thin dotted #91ABB3;
}

#existing-ideas {
	border-bottom: thin dotted #91ABB3;
		margin-right: 25px;
}

#bottom-button {
	margin-top: 25px
}

.button {
position: relative;
display: block;
margin: 1px;
height: 24px;
font-size: 12px;
line-height: 24px;
text-decoration: none;
text-transform: uppercase;
text-align: center;
background: #104050;
color: #91ABB3;
}

#text-field {
	background-color: #6C939F;
	border: 0px;
	position:relative;
}

#submit-button {
	margin-top: 10px;
	background-color: #6C939F;
	border: 0px;
	position:relative;
}

#submit-button:hover {
	background-color: #104050;
}

#field-name {
	margin-top: 5px;
	margin-bottom: 5px;
	position:relative;
	left:0;
	margin-right: 50px;
}

#option-button {
	background-color: #6C939F;
	border: 0px;
}

#option-button:hover {
	background-color: #104050;
}

table {
	width:100%;
}
th, td {
  border: 1px solid #022835;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}

a {
	color: #6C939F;
	text-decoration: none;
}

a:hover {
	background-color: #6C939F;
	color: #104050;
}

#display-item {
	text-wrap: normal;
}
