<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IdeaBox</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
  	<div id="container">
	    <%= yield %>
	    <form style = "width:723px" id="bottom-button" action="/" method="GET">
			  <a href="/?name=<%=user%>" class="button">Home</a>
			</form>
		</div>
  </body>
</html>
