<section>
  <section>
    <h2 >Login</h2>
    <form action="/" method='GET'>
      <section id = "field-name" style="margin-top:25px">Username:</section>
      <input id="text-field" type='text' name='name' required/><br/>
      <section id = "field-name">Password:</section>
      <input id="text-field" type='password' name='user[password]' required></textarea><br/>
      <input id="submit-button" type='submit'/>
    </form>
  </section>
</section>
