<section>
  <section>
    <h2 >New User</h2>
    <form action='/user' method='POST'>
      <section id = "field-name" style="margin-top:25px">Username:</section>
      <input id="text-field" type='text' name='user[name]'/><br/>
      <section id = "field-name">Password:</section>
      <input id="text-field" type='password' name='user[password]'></textarea><br/>
      <input id="submit-button" type='submit'/>
    </form>
  </section>
</section>
